@font-face {
  font-family: "iconfont"; /* Project id 4982066 */
  src: url('iconfont.woff2?t=1753243346405') format('woff2'),
       url('iconfont.woff?t=1753243346405') format('woff'),
       url('iconfont.ttf?t=1753243346405') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-gouwuche:before {
  content: "\e73d";
}

.icon-shouji:before {
  content: "\e604";
}

.icon-sousuo:before {
  content: "\e661";
}

